$container-width: 100%;
$site-width: 960px;
$color-pallete-1: #022b3a;
$color-pallete-2: #1f7a8c;
$color-pallete-3: #090909;
$color-pallete-4: #ffffff;
$color-pallete-5: #fafafa;
$color-pallete-6: #777777;
$color-pallete-7: #dfe6e9;
$color-pallete-8: #000000;
$color-pallete-9: #576574;